body {
  background-color: steelblue;
}

.App {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 2px solid #ba2222;
  transition: border-color 0.3s ease-in-out;
}

input:hover {
  border-color: #999;
}

h1 {
  margin-bottom: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  background-color: white;
  color: black;
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
  background-color: black;
  color: white;
}

.error {
  color: wheat;
}
